D:\Studia\Sterowanie procesami dyskretnymi\Sterowanie_procesami_dyskretnymi\RPQ\.vs
D:\Studia\Sterowanie procesami dyskretnymi\Sterowanie_procesami_dyskretnymi\Schrange\.vs
D:\Studia\Sterowanie procesami dyskretnymi\Sterowanie_procesami_dyskretnymi\WiTi\.vs
